@import "@mdi/font/css/materialdesignicons.min.css";

body {
  font-family: "Poppins", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.q-page {
  padding: 20px;
}

a {
  color: #1e88e5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
